<main>
  <!-- Hero section -->
  <div class="relative">
    <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
        <div class="absolute inset-0">
          <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100" alt="People working on laptops">
          <div class="absolute inset-0 bg-gradient-to-r from-blue-800 to-blue-700" style="mix-blend-mode: multiply;"></div>
        </div>
        <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
          <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
            <span class="block text-white">Bringing stakeholders together</span>
            <span class="block text-blue-200">through the story of data.</span>
          </h1>
          <p class="mt-6 max-w-lg mx-auto text-center text-xl text-blue-200 sm:max-w-3xl">
          There is a story behind the data. It has characters in the form of stakeholders. It evolves and changes through versioned history. We build tools to help get all stakeholders on the same page.
          </p>
          <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
            <div class="space-y-8 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-1 sm:gap-5">
              <a href="#" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-blue-700 bg-white hover:bg-indigo-50 sm:px-8">
                Tell Your Story
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Logo Cloud -->
  <div class="bg-gray-100">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <p class="text-center text-sm font-semibold uppercase text-gray-500 tracking-wide">
      Trusted by organizations large and small
      </p>
      <div class="mt-6 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="https://tailwindui.com/img/logos/tuple-logo-gray-400.svg" alt="Tuple">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="https://tailwindui.com/img/logos/mirage-logo-gray-400.svg" alt="Mirage">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="https://tailwindui.com/img/logos/statickit-logo-gray-400.svg" alt="StaticKit">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 md:col-start-2 lg:col-span-1">
          <img class="h-12" src="https://tailwindui.com/img/logos/transistor-logo-gray-400.svg" alt="Transistor">
        </div>
        <div class="col-span-2 flex justify-center md:col-span-2 md:col-start-4 lg:col-span-1">
          <img class="h-12" src="https://tailwindui.com/img/logos/workcation-logo-gray-400.svg" alt="Workcation">
        </div>
      </div>
    </div>
  </div>

  <!-- Alternating Feature Sections -->
  <div class="relative pt-16 pb-32 overflow-hidden">
    <div aria-hidden="true" class="absolute inset-x-0 top-0 h-48 bg-gradient-to-b from-gray-100"></div>
    <div class="relative">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
          <div>
            <div>
              <span class="h-12 w-12 rounded-md flex items-center justify-center bg-gradient-to-r from-blue-600 to-blue-600">
                <!-- Heroicon name: collection -->
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                </svg>
              </span>
            </div>
            <div class="mt-6">
              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                Publish your schemas
              </h2>
              <p class="mt-4 text-lg text-gray-500">
              As a provider of data, either database table or payload, publishing your schema provides interested parties 
              everything they need to utilize the data you provide. As a stakeholder, understanding the data and its format 
              up front means you can skip the exploration step and get right to implementation.
              </p>
              <div class="mt-6">
                <a href="#" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-gradient-to-r from-blue-600 to-blue-600 hover:from-purple-700 hover:to-indigo-700">
                  Start publishing
                </a>
              </div>
            </div>
          </div>
          <div class="mt-8 border-t border-gray-200 pt-6">
            <blockquote>
              <div>
                <p class="text-base text-gray-500">
                &ldquo;Simply publishing a schema shows you are organized and mindful of making changes to the data that could mean an interruption of service downstream.&rdquo;
                </p>
              </div>
              <footer class="mt-3">
                <div class="flex items-center space-x-3">
                  <div class="flex-shrink-0">
                    <img class="h-6 w-6 rounded-full" src="https://images.unsplash.com/photo-1509783236416-c9ad59bae472?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
                  </div>
                  <div class="text-base font-medium text-gray-700">
                    Doug Jenkins, Principle Engineer, Nike
                  </div>
                </div>
              </footer>
            </blockquote>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0">
          <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
            <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg" alt="Inbox user interface">
          </div>
        </div>
      </div>
    </div>
    <div class="mt-24">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
          <div>
            <div>
              <span class="h-12 w-12 rounded-md flex items-center justify-center bg-gradient-to-r from-blue-600 to-blue-600">
                <!-- Heroicon name: eye -->
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
              </span>
            </div>
            <div class="mt-6">
              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                Understand your stakeholders
              </h2>
              <p class="mt-4 text-lg text-gray-500">
              Allow the interested parties of data to subscribe and be informed of any changes. Simple unannounced changes can mean large 
              interruptions in service or gaps in data that can not be recovered from. With Schemabook, data providers can publish their 
              schema and interested parties can list themselves as subscribers of the data. Establishing the stakeholders can mean further 
              collaboration and communication as data evolves.
              </p>
              <div class="mt-6">
                <a href="#" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-gradient-to-r from-blue-600 to-blue-600 hover:from-purple-700 hover:to-indigo-700">
                  Start subscribing
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
          <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
            <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-2.jpg" alt="Customer profile user interface">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Gradient Feature Section -->
  <div class="bg-gradient-to-r from-blue-800 to-blue-700">
    <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
      <h2 class="text-sm font-semibold tracking-wide uppercase">
        <span class="bg-gradient-to-r from-blue-300 to-blue-300 bg-clip-text text-transparent">The story of data</span>
      </h2>
      <h2 class="text-3xl font-extrabold text-white tracking-tight">
      Keep stakeholders on the same page
      </h2>
      <p class="mt-4 max-w-3xl text-lg text-blue-200">
      Ever had someone remove a column from a database not knowing someone else was dependent upon it? Ever been told to send data 
      to an endpoint and not known how it would be used? Many times, the stakeholders of data don't know one another. Making an 
      upstream change needs to be communicated to downstream consumers, but there hasn't been a way to do that. Schemabook solves this 
      problem by allowing interested parties to identify themselves around the definition of the data–the schema.
      </p>
      <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: user-group -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Identify Stakeholders</h3>
            <p class="mt-2 text-base text-blue-200">
            Publish your schemas allowing stakeholders to identify themselves as an interested party.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: code -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Request Changes</h3>
            <p class="mt-2 text-base text-blue-200">
            Collaborate on changes to the schema in a way others can be involved.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: annotation -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Communicate Changes</h3>
            <p class="mt-2 text-base text-blue-200">
            Communicate changes to schemas before they go into effect preventing data loss and service interruption.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: outline/pencil-alt -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Version Control</h3>
            <p class="mt-2 text-base text-blue-200">
            Keep track of schema versions telling the story of how the data evolved.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: outline/document-report -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Data Regulations</h3>
            <p class="mt-2 text-base text-blue-200">
            Search across your organization's schemas to see where regulations apply.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: badge-check -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Schema Validation</h3>
            <p class="mt-2 text-base text-blue-200">
            Verify payloads against schemas to ensure they are in compliance.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: table -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Various Formats</h3>
            <p class="mt-2 text-base text-blue-200">
            Communicate your schema in formats your stakeholders can use like Avro and JSON Schema.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: globe -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Schema CDN</h3>
            <p class="mt-2 text-base text-blue-200">
            Schemas can be published to a CDN for fast retrieval.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Stats section -->
  <div class="relative bg-gray-900">
    <div class="h-80 absolute bottom-0 xl:inset-0 xl:h-full xl:w-full">
      <div class="h-full w-full xl:grid xl:grid-cols-2">
        <div class="h-full xl:relative xl:col-start-2">
          <img class="h-full w-full object-cover opacity-25 xl:absolute xl:inset-0" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100" alt="People working on laptops">
          <div aria-hidden="true" class="absolute inset-x-0 top-0 h-32 bg-gradient-to-b from-gray-900 xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r"></div>
        </div>
      </div>
    </div>
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-cols-2 xl:grid-flow-col-dense xl:gap-x-8">
      <div class="relative pt-12 pb-64 sm:pt-24 sm:pb-64 xl:col-start-1 xl:pb-24">
        <h2 class="text-sm font-semibold tracking-wide uppercase">
          <span class="bg-gradient-to-r from-blue-300 to-blue-300 bg-clip-text text-transparent">Valuable Metrics</span>
        </h2>
        <p class="mt-3 text-3xl font-extrabold text-white">Understand the story being told</p>
        <p class="mt-5 text-lg text-gray-300">Gain insights into data usage. Understand the hot spots and how data is repeated. By understanding what data you have and who is using it, you can streamline processes and make more efficient systems.</p>
        <div class="mt-12 grid grid-cols-1 gap-y-12 gap-x-6 sm:grid-cols-2">
          <p>
          <span class="block text-2xl font-bold text-white">Database tables</span>
          <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Companies</span> warehouses are continuing to grow. Do you catalog what data is in yours?</span>
          </p>

          <p>
          <span class="block text-2xl font-bold text-white">Data pipelines</span>
          <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Event driven systems</span> are great for distributing data, but to whom can get lost relatively easily.</span>
          </p>

          <p>
          <span class="block text-2xl font-bold text-white">Number of stakeholders</span>
          <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Internal stakeholders</span> should be thought of as customers. Does each service know how many they have?</span>
          </p>

          <p>
          <span class="block text-2xl font-bold text-white">Number of teams</span>
          <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Teams evolve and reorganize</span>. What team is behind that critical service?</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- CTA Section -->
  <div class="bg-white">
    <div class="max-w-4xl mx-auto py-16 px-4 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        <span class="block">Ready to get started?</span>
        <span class="block bg-gradient-to-r from-blue-600 to-blue-600 bg-clip-text text-transparent">Create an account for your organization.</span>
      </h2>
      <div class="mt-6 space-y-4 sm:space-y-0 sm:flex sm:space-x-5">
        <a href="#" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-gradient-to-r from-blue-600 to-blue-600 hover:from-purple-700 hover:to-indigo-700">
          Learn more
        </a>
        <a href="#" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-blue-800 bg-indigo-50 hover:bg-indigo-100">
          Get started
        </a>
      </div>
    </div>
  </div>
</main>

