<!-- Start right column area -->
<div class="h-full relative" style="min-height: 16rem;">
  <div class="absolute inset-0 rounded-lg">
    <h4 class="text-lg leading-6 font-medium text-gray-600">
      Activity Feed
    </h4>

    <div>
      <ul class="divide-y divide-gray-200">
        <% @activities.each do |activity| %>
          <%= render partial: 'activity', locals: { activity: activity } %>
        <% end %>
      </ul>
    </div>

  </div>
</div>
<!-- End right column area -->
