<div id="sort_menu" class="hidden absolute left-1/2 z-10 mt-2 flex w-screen max-w-max -translate-x-1/2 px-4">
  <div class="w-screen max-w-md flex-auto overflow-hidden rounded-3xl bg-white text-sm leading-6 shadow-lg ring-1 ring-gray-900/5">
    <div class="p-4">
      <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
        <div>
          <a href="/dashboards?sort=alphabetically" class="font-semibold text-gray-900" data-turbo="false">
            Alphabetically
            <span class="absolute inset-0"></span>
          </a>
          <p class="mt-1 text-gray-600">Sorted alphabetically by name</p>
        </div>
      </div>
      <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
        <div>
          <a href="/dashboards?sort=chronologically" class="font-semibold text-gray-900" data-turbo="false">
            Chronologically
            <span class="absolute inset-0"></span>
          </a>
          <p class="mt-1 text-gray-600">Sorted chronologically by most recently created</p>
        </div>
      </div>
      <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
        <div>
          <a href="/dashboards?sort=services" class="font-semibold text-gray-900" data-turbo="false">
            Services
            <span class="absolute inset-0"></span>
          </a>
          <p class="mt-1 text-gray-600">Sorted by associataed service name</p>
        </div>
      </div>
      <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
        <div>
          <a href="/dashboards?sort=stakeholder" class="font-semibold text-gray-900" data-turbo="false">
            Stakeholder
            <span class="absolute inset-0"></span>
          </a>
          <p class="mt-1 text-gray-600">Sorted by stakeholder association</p>
        </div>
      </div>
    </div>
    
    <div class="grid grid-cols-1 bg-gray-50">
      <a href="/dashboards" class="flex items-center justify-center gap-x-2.5 p-3 font-semibold text-gray-900 hover:bg-gray-100">
        Reset
      </a>
    </div>
  </div>
</div>
