<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Welcome to Schemabook!</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Onboarding Details</p>
  </div>
  <div class="border-t border-gray-200">
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Administrators</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <%= current_user.display_name %>
          <br/>
          <br/>
          <% if current_user.admin? %>
            You are the administrator. You have the ability to edit the account settings (in the 
            lower left corner). You also have the ability to create teams, define services, and 
            publish schemas. You can also identify yourself as a stakeholder of someone else's 
            schema.
          <% else %>
            You are a stakeholder. You have the ability to publish schemas and define yourself as 
            a stakeholder of schemas.
          <% end %>
        </dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Account Settings</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">foo and bar</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Teams</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">foo and bar</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Teammates</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">Automatically added to your current team</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Services</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">data warehouse, iOS app, elasticsearch cluster, etc.</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Schemas</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">multiple formats</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Activity Feeds</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">context aware</dd>
      </div>
    </dl>
  </div>
</div>
