<!-- 3 column wrapper -->
<div class="flex-grow w-full mx-auto xl:px-8 lg:flex">
  <!-- Left sidebar & main wrapper -->
  <div class="flex-1 min-w-0 bg-white xl:flex">
    <div class="border-b border-gray-200 xl:border-b-0 xl:flex-shrink-0 xl:w-64 xl:border-r xl:border-gray-200 bg-white">
      <div class="h-full pl-4 pr-6 py-6 sm:pl-6 lg:pl-8 xl:pl-0">
        <!-- Start left column area -->
        <div class="h-full relative" style="min-height: 12rem;">
          <div class="absolute inset-0 text-gray-500">
            <!-- avatar -->
            <div class="relative lg:flex">
              <div class="py-1">
              <button class="bg-indigo-700 flex text-sm rounded-full text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-700 focus:ring-white" id="user-menu" aria-haspopup="true">
                <span class="sr-only">Profile</span>
                <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixqx=1HVGark79X&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&h=256&q=80" alt="">
              </button>
              </div>
              <div class="relative px-3">
                Michael Krisher
                <br />
                <span class="text-gray-700">
                  Team Name
                </span>
              </div>
            </div>

            <!-- new schema -->
            <div class="mt-3 sm:mt-0 sm:ml-3 py-10">
              <button type="submit" class="block w-full py-3 px-4 rounded-md shadow bg-gradient-to-r from-teal-500 to-cyan-600 text-white font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-400 focus:ring-offset-gray-900 transition-colors duration-200">Publish Schema</button>
            </div>

            <!-- invite team -->
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <button type="submit" class="block w-full py-3 px-4 rounded-md shadow bg-white text-gray-400 hover:text-gray-900 font-medium border border-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-gray-300 focus:outline-none transition-colors duration-200">Invite Team</button>
            </div>


            <!-- number of schemas/link to dashboard -->
          </div>
        </div>
        <!-- End left column area -->
      </div>
    </div>

    <div class="bg-white lg:min-w-0 lg:flex-1">
      <div class="h-full py-6 px-4 sm:px-6 lg:px-8">
        <!-- Start main area-->
        <div class="relative h-full" style="min-height: 36rem;">
          <div class="absolute inset-0 border-2 border-gray-200 border-dashed rounded-lg"></div>
        </div>
        <!-- End main area -->
      </div>
    </div>
  </div>

  <div class="bg-gray-50 pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-0">
    <div class="h-full pl-6 py-6 lg:w-80">
      <!-- Start right column area -->
      <div class="h-full relative" style="min-height: 16rem;">
        <div class="absolute inset-0 border-2 border-gray-200 border-dashed rounded-lg"></div>
      </div>
      <!-- End right column area -->
    </div>
  </div>
</div>
