@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

a {
  text-decoration-line: underline;
}

a.button {
  text-decoration-line: none;
}

a:has(> button) {
  text-decoration-line: none;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
