<div class="bg-gray-50">
  <div class="relative">

    <!-- Header section -->
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="text-center">
        <h1 class="text-base font-semibold text-cyan-600 uppercase tracking-wide">Company</h1>
        <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">We've built a few data platforms.</p>
        <p class="max-w-xl mx-auto mt-5 text-xl text-gray-500">Schemabook was started after seeing a similar need in various organizations. The founders have experience building large scale data platforms and recognized a need in management of data specifically around definition and stakeholder management.</p>
      </div>
    </div>

    <!-- Split brand panel -->
    <div class="relative bg-white">
      <div class="absolute inset-0" aria-hidden="true">
        <div class="absolute inset-y-0 right-0 w-1/2 bg-gradient-to-r from-cyan-600 to-green-400"></div>
      </div>
      <div class="relative max-w-7xl mx-auto lg:grid lg:grid-cols-2 lg:px-8">
        <div class="bg-white py-16 px-4 sm:py-24 sm:px-6 lg:px-0 lg:pr-8">
          <div class="max-w-lg mx-auto lg:mx-0">
            <h2 class="text-base font-semibold tracking-wide text-cyan-600 uppercase">
              Experience
            </h2>
            <p class="mt-2 text-2xl font-extrabold text-gray-900 sm:text-3xl">Built off of previous experience.</p>
            <dl class="mt-12 space-y-10">
              <div class="flex">
                <div class="flex-shrink-0 h-12 w-12 bg-gradient-to-r from-cyan-600 to-green-400 rounded-md flex items-center justify-center">
                  <!-- Heroicon name: outline/database -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
                  </svg>
                </div>
                <div class="ml-4">
                  <dt class="text-lg leading-6 font-medium text-gray-900">
                  Data Platforms
                  </dt>
                  <dd class="mt-2 text-base text-gray-500">
                  Our team members have played critical roles in organizations establishing large data platforms. We've learned they become messy if you aren't mindful of defining the data first.
                  </dd>
                </div>
              </div>

              <div class="flex">
                <div class="flex-shrink-0 h-12 w-12 bg-gradient-to-r from-cyan-600 to-green-400 rounded-md flex items-center justify-center">
                  <!-- Heroicon name: outline/identification -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                  </svg>
                </div>
                <div class="ml-4">
                  <dt class="text-lg leading-6 font-medium text-gray-900">
                  Data is used by people
                  </dt>
                  <dd class="mt-2 text-base text-gray-500">
                  Throughout our experience, we've noticed most of the efforts around data go into the technologies without a lot of thought going into the people and how they use the data. We're focused on improving that.
                  </dd>
                </div>
              </div>

              <div class="flex">
                <div class="flex-shrink-0 h-12 w-12 bg-gradient-to-r from-cyan-600 to-green-400 rounded-md flex items-center justify-center">
                  <!-- Heroicon name: outline/terminal -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                  </svg>
                </div>
                <div class="ml-4">
                  <dt class="text-lg leading-6 font-medium text-gray-900">
                  Batch and Real Time
                  </dt>
                  <dd class="mt-2 text-base text-gray-500">
                  Data platforms now offer batch and real time data. Managing database tables is different than data pipelines. However, there are similarities. We're abstracting those similarities because they impact the people using the data.
                  </dd>
                </div>
              </div>

              <div class="flex">
                <div class="flex-shrink-0 h-12 w-12 bg-gradient-to-r from-cyan-600 to-green-400 rounded-md flex items-center justify-center">
                  <!-- Heroicon name: outline/users+ -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
                  </svg>
                </div>
                <div class="ml-4">
                  <dt class="text-lg leading-6 font-medium text-gray-900">
                  Teams
                  </dt>
                  <dd class="mt-2 text-base text-gray-500">
                  Teams make up ecosystems and data platforms as much as technology. Teams also shift often. Losing track of ownership and use can be costly. Duplication of efforts can be costly. We're helping prevent those costs.
                  </dd>
                </div>
              </div>
            </dl>
          </div>
        </div>
        <div class="bg-gradient-to-r from-cyan-600 to-green-400 py-16 px-4 sm:py-24 sm:px-6 lg:bg-none lg:flex lg:items-center lg:justify-end lg:px-0 lg:pl-8">
          <div class="max-w-lg mx-auto w-full space-y-8 lg:mx-0">
            <div>
              <h2 class="sr-only">Price</h2>
              <p class="relative grid grid-cols-2">
              <span class="flex flex-col text-center">
                <span class="text-5xl font-extrabold text-white tracking-tight">Data Platforms</span>
                <span class="mt-2 text-base font-medium text-cyan-100">Including data warehouses</span>
                <span class="sr-only">plus</span>
              </span>
              <span class="pointer-events-none absolute h-12 w-full flex items-center justify-center" aria-hidden="true">
                <!-- Heroicon name: outline/plus -->
                <svg class="h-6 w-6 text-cyan-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                </svg>
              </span>
              <span>
                <span class="flex flex-col text-center">
                  <span class="text-5xl font-extrabold text-white tracking-tight">Event Systems</span>
                  <span class="mt-2 text-base font-medium text-cyan-100">Including microservices</span>
                </span>
              </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-50">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        <span class="block">Ready to dive in?</span>
        <span class="block text-cyan-600">Start your free trial today.</span>
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="m-2 inline-flex rounded-md shadow">
          <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700">
            Get started
          </a>
        </div>
        <div class="m-2 l-3 inline-flex rounded-md shadow">
          <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-teal-600 bg-white hover:bg-teal-50">
            Learn more
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
      <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:gap-8">
        <div class="space-y-5 sm:space-y-4">
          <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Meet our leadership</h2>
          <p class="text-xl text-gray-500">
          Our team has years of experience building data platforms. Our 
          collective knowledge is focused on helping others understand the 
          story their data tells. Compiling large tomes of data is fun from a 
          technology standpoint, but if the data doesn't tell a story and 
          everyone is not on the same page, it ultimately isn't useful or 
          actionable. We help companies make their data actionable.
          </p>
        </div>
        <div class="space-y-5 sm:space-y-4">
          <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Why We Built Schemabook</h2>
          <p class="text-xl text-gray-500">
          We've been involved in organizations who have spent countless hours and millions of dollars to build 
          data platforms and services. These are all interesting problems to solve but they don't address the 
          ultimate goal of enabling stakeholders to perform their jobs with the data. Schemabook was built 
          to solve this problem by involving stakeholders in the definition and evolution of the data with the teams 
          that implement it.
          </p>
        </div>
      </div>
    </div>
  </div>

