<div class="bg-gray-50">
  <div class="relative">

    <!-- Header section -->
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="text-center">
        <h1 class="text-base font-semibold text-cyan-600 uppercase tracking-wide">Docs</h1>
        <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Telling the story of our data</p>
      </div>
    </div>

    <div class="relative bg-white">
      <div class="relative max-w-7xl mx-auto">
        <div class="bg-white py-16 px-4 sm:py-24 sm:px-6">
          <div class="max-w-lg mx-auto lg:mx-0">
            <h2 class="text-base font-semibold tracking-wide text-cyan-600 uppercase">
              Changelog
            </h2>
            <p class="mt-2 text-2xl font-extrabold text-gray-900 sm:text-3xl">We'll be noting notable achievements here.</p>
            <dl class="mt-12 space-y-10">
              <div class="flex">
                <div class="ml-4">
                  <dt class="text-lg leading-6 font-medium text-gray-900">
                  Company details
                  </dt>
                  <dd class="mt-2 text-base text-gray-500">
                  Admins can now add company details like physical address for tax purposes.
                  </dd>
                </div>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CTA section -->
  <div class="bg-gradient-to-r from-cyan-600 to-green-400">
    <div class="max-w-2xl mx-auto py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
        <span class="block">Improve your story around data.</span>
        <span class="block text-cyan-900">Start using Schemabook today.</span>
      </h2>
      <p class="mt-4 text-lg leading-6 text-cyan-100">Improve your data loss and service interruptions metrics right away.</p>
      <a href="#" class="mt-8 w-full bg-cyan-50 border border-transparent rounded-md py-3 px-5 inline-flex items-center justify-center text-base font-medium text-cyan-700 hover:bg-cyan-100 sm:w-auto">
        Sign up for free
      </a>
    </div>
  </div>
