  <div class="bg-gray-50">
    <div class="relative">

      <!-- Header section -->
      <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <div class="text-center">
          <h1 class="text-base font-semibold text-cyan-600 uppercase tracking-wide">Features</h1>
          <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">It all starts with a definition of your data.</p>
          <p class="max-w-xl mx-auto mt-5 text-xl text-gray-500">Without proper definition, engineers and data scientists have to discover what is available. This can waste valuable time and lead to less than ideal integrations.</p>
        </div>
      </div>

      <div class="bg-white">
        <div class="max-w-7xl mx-auto py-16 px-4 divide-y-2 divide-gray-200 sm:py-24 sm:px-6 lg:px-8">
          <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
            <div class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <div class="ml-3">
                <dt class="text-lg leading-6 font-medium text-gray-900">
                Defining your data
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                Whether your data lives in a database table or is a published event payload, defining what's included can mean the difference between usable or not. 
                </dd>
              </div>
            </div>

            <div class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <div class="ml-3">
                <dt class="text-lg leading-6 font-medium text-gray-900">
                Creating a catalog
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                Once teams define the data, publishing it in one place ultimately creates a catalog of your data helping you see the big picture.
                </dd>
              </div>
            </div>

            <div class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <div class="ml-3">
                <dt class="text-lg leading-6 font-medium text-gray-900">
                Identifying stakeholders
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                System boundaries and access layers can hide who the actual stakeholders of data are. We provide tools to not only identify but keep all stakeholders on the same page.
                </dd>
              </div>
            </div>

            <div class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <div class="ml-3">
                <dt class="text-lg leading-6 font-medium text-gray-900">
                Fostering collaboration
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                Requesting changes can be timely, hard to prioritize, and can have unforeseen consequences to other stakeholders. A central place to collaborate pays dividends.
                </dd>
              </div>
            </div>
          </dl>
        </div>
      </div>

      <!-- Testimonial section -->
      <div class="pb-16 bg-gradient-to-r from-teal-500 to-cyan-600 lg:pb-0 lg:z-10 lg:relative">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
          <div class="relative lg:-my-8">
            <div aria-hidden="true" class="absolute inset-x-0 top-0 h-1/2 bg-white lg:hidden"></div>
            <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
              <div class="aspect-w-10 aspect-h-6 rounded-xl shadow-xl overflow-hidden sm:aspect-w-16 sm:aspect-h-7 lg:aspect-none lg:h-full">
                <img class="object-cover lg:h-full lg:w-full" src="https://images.unsplash.com/photo-1562788869-4ed32648eb72?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80" alt="">
              </div>
            </div>
          </div>
          <div class="mt-12 lg:m-0 lg:col-span-2 lg:pl-8">
            <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-20 lg:max-w-none">
              <blockquote>
                <div>
                  <svg class="h-12 w-12 text-white opacity-25" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                    <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                  </svg>
                  <p class="mt-6 text-2xl font-medium text-white">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna nulla vitae laoreet augue. Amet feugiat est integer dolor auctor adipiscing nunc urna, sit.
                  </p>
                </div>
                <footer class="mt-6">
                  <p class="text-base font-medium text-white">Chris Kasten</p>
                  <p class="text-base font-medium text-cyan-100">SVP at Nike</p>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-white">
        <div class="max-w-7xl mx-auto py-16 px-4 divide-y-2 divide-gray-200 sm:py-24 sm:px-6 lg:px-8">
          <h2 class="text-3xl font-extrabold text-gray-900">
            Schemabook Features
          </h2>
          <div class="mt-6 pt-10">
            <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-x-8 md:gap-y-12">
              <div>
                <dt class="text-lg leading-6 font-medium text-gray-900">
                  Why schemas?
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                  Defining a schema allows others, whether they be stakeholders or systems, an opportunity to know ahead of time what data is being provided and what the shape of it is. Defining a schema provides an opportunity to explain items that may not be straight forward.
                </dd>
              </div>

              <div>
                <dt class="text-lg leading-6 font-medium text-gray-900">
                  Why publish schemas?
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                  Having teams contribute to a central repository of schemas can be of huge value. By creating a catalog of schemas, you can enable search. Search can be used for discovery. It can also be used to quickly identify redundancy.
                </dd>
              </div>

              <div>
                <dt class="text-lg leading-6 font-medium text-gray-900">
                  Who are stakeholders?
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                Stakeholders are all interested parties in a given data set. They may be downstream consumers. They may be upstream systems generating the data. Systems have ways of identify the systems upstream and downstream but not the people behind those systems. Systems can be accomodating when data changes, but may not be able to identify when a change ultimately means a report can't be run at the end of the month because data was removed from a data pipeline. Changes need to be communicated beyond the interfaces we use to integrate systems.
                </dd>
              </div>

              <div>
                <dt class="text-lg leading-6 font-medium text-gray-900">
                  Who are publishers?
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                  A publisher is anyone that generates data and makes it available for others to consume.
                </dd>
              </div>

              <h2>Insert picture of publishing interface here</h2>

              <div>
                <dt class="text-lg leading-6 font-medium text-gray-900">
                  Who are subscribers?
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                  Subscibers are the consumer of data.
                </dd>
              </div>

              <h2>Insert picture of subscribing interface here</h2>

              <div>
                <dt class="text-lg leading-6 font-medium text-gray-900">
                  Can stakeholders be more than publishers or subscribers?
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                  Absolutely! Any company that has dedicated people responsible for regulatory compliance could be a stakeholder in data sets.
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
