<main>
  <div class="pt-10 bg-gray-900 sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8">
        <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
          <div class="lg:py-24">
            <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
              <span class="block">Keeping data stakeholders</span>
              <span class="bg-clip-text pb-2 text-transparent bg-gradient-to-r from-teal-200 to-cyan-400 block">on the same page.</span>
            </h1>
            <p class="mt-6 text-base text-gray-300 sm:text-xl lg:text-lg xl:text-xl">
            There is a story behind the data. It has characters in the form of stakeholders. In order for data to be fully understood and actionable, stakeholders need to easily collaborate. We help get everyone on the same page.
            </p>
            <div class="mt-10 sm:mt-12">
              <%= form_with url: "/users/sign_up", method: :get do |form| %>
                <div class="sm:flex">
                  <div class="min-w-0 flex-1">
                    <input id="email" name="email" type="email" Placeholder="enter email address" class="block w-full px-4 py-3 rounded-md border-0 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-400 focus:ring-offset-gray-900" />
                  </div>
                  <div class="mt-3 sm:mt-0 sm:ml-3">
                    <button type="submit" class="block w-full py-3 px-4 rounded-md shadow bg-gradient-to-r from-teal-500 to-cyan-600 text-white font-medium hover:from-teal-600 hover:to-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-400 focus:ring-offset-gray-900">Get Started</button>
                  </div>
                </div>
                <p class="mt-3 text-sm text-gray-300 sm:mt-4">Get started today. By providing your email, you agree to our <a href="<%= terms_path %>" class="font-medium text-white">terms or service</a>.</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
          <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0">
            <img class="w-full lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/cloud-illustration-teal-cyan.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Feature section with screenshot -->
  <div class="relative bg-gray-50 pt-16 sm:pt-24 lg:pt-32">
    <div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
      <div>
        <h2 class="text-base font-semibold tracking-wider text-cyan-600 uppercase">Data Contracts & Schema Registry</h2>
        <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
        Are your schemas defined and shared with stakeholders?
        </p>
        <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
        Schemabook facilitates collaboration on Data Contracts. In addition to providing a central schema registry, we keep stakeholders on the same page. Stakeholders can communicate with the data producer directly. They can understand the SLAs and focus on data quality which ultimately leads to more actionable data.
        </p>
      </div>
      <div class="mt-12 -mb-10 sm:-mb-24 lg:-mb-80">
        <img class="rounded-lg shadow-xl ring-1 ring-black ring-opacity-5" src="/assets/p_dashboard.png" alt="">
      </div>
    </div>
  </div>

  <!-- Feature section with grid -->
  <div class="relative bg-white py-16 sm:py-24 lg:py-32">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
      <h2 class="text-base font-semibold tracking-wider text-cyan-600 uppercase">Collaboration and Communication</h2>
      <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
      Keep stakeholders on the same page
      </p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
      We provide tools to keep all stakeholders on the same page. Need to request a schema change to a database table you don't control? We provide a clean interface for collaboration and will alert all stakeholders of the pending change.
      </p>
      <div class="mt-12">
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">

          <div class="pt-6">
            <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center p-3 bg-gradient-to-r from-teal-500 to-cyan-600 rounded-md shadow-lg">
                    <!-- Heroicon name: outline/cloud-upload -->
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                    </svg>
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Publish Schemas</h3>
                <p class="mt-5 text-base text-gray-500">
                Define your schema and publish it for interested stakeholders.
                </p>
              </div>
            </div>
          </div>

          <div class="pt-6">
            <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center p-3 bg-gradient-to-r from-teal-500 to-cyan-600 rounded-md shadow-lg">
                    <!-- Heroicon name: code -->
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                    </svg>
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Data Contracts</h3>
                <p class="mt-5 text-base text-gray-500">
                Collaborate on schema changes and SLAs where all stakeholders can see.
                </p>
              </div>
            </div>
          </div>

          <div class="pt-6">
            <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center p-3 bg-gradient-to-r from-teal-500 to-cyan-600 rounded-md shadow-lg">
                    <!-- Heroicon name: annotations -->
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                    </svg>
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Stakeholder Notifications</h3>
                <p class="mt-5 text-base text-gray-500">
                Notify stakeholders of upcoming changes and other relevant information.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Gradient Feature Section -->
  <div class="bg-gradient-to-r from-teal-600 to-cyan-600">
    <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
      <h2 class="text-sm font-semibold tracking-wide uppercase">
        <span class="bg-gradient-to-r from-teal-800 to-teal-900 bg-clip-text text-transparent">The story of data</span>
      </h2>
      <h2 class="text-3xl font-extrabold text-white tracking-tight">
      Prevent service disruptions and data loss
      </h2>
      <p class="mt-4 max-w-3xl text-lg text-teal-200">
      Ever had a column removed from a database while someone was dependent on it? Ever been told to send data 
      to an endpoint and not known how it would be used or what data was essential? Many times, the stakeholders 
      of data don't know one another. Making an upstream change needs to be communicated to downstream consumers. 
      Many system designs don't provide a mechanism for proactively notifying all stakeholders of change. Schemabook 
      solves these problems by allowing interested parties to identify themselves and collaborate on the definition of the data–the schema.
      </p>
      <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: user-group -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Identify Stakeholders</h3>
            <p class="mt-2 text-base text-teal-200">
            Publish your schemas allowing stakeholders to identify themselves as an interested party.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: annotation -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Communicate Changes</h3>
            <p class="mt-2 text-base text-teal-200">
            Communicate changes to schemas before they go into effect preventing data loss and service interruption.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: outline/pencil-alt -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Version Control</h3>
            <p class="mt-2 text-base text-teal-200">
            Keep track of schema versions telling the story of how the data evolved.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: badge-check -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Schema Validation</h3>
            <p class="mt-2 text-base text-teal-200">
            Verify payloads against schemas to ensure they are in compliance.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: outline/document-report -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Data Regulations</h3>
            <p class="mt-2 text-base text-teal-200">
            Search across your organization's schemas to see where regulations apply.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: table -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Various Formats</h3>
            <p class="mt-2 text-base text-teal-200">
            Communicate your schema in formats your stakeholders can use like Avro and JSON Schema.
            </p>
          </div>
        </div>

        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: globe -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Schema CDN</h3>
            <p class="mt-2 text-base text-teal-200">
            Schemas can be published to a CDN for fast retrieval.
            </p>
          </div>
        </div>


        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              <!-- Heroicon name: chat-alt-2 -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">Team Collaboration</h3>
            <p class="mt-2 text-base text-teal-200">
            Teams can collaborate on schema changes and the impacts of those changes on the system.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Stats section -->
  <div class="relative bg-gray-900">
    <div class="h-80 absolute bottom-0 xl:inset-0 xl:h-full xl:w-full">
      <div class="h-full w-full xl:grid xl:grid-cols-2">
        <div class="h-full xl:relative xl:col-start-2">
          <img class="h-full w-full object-cover opacity-25 xl:absolute xl:inset-0" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100" alt="People working on laptops">
          <div aria-hidden="true" class="absolute inset-x-0 top-0 h-32 bg-gradient-to-b from-gray-900 xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r"></div>
        </div>
      </div>
    </div>
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-cols-2 xl:grid-flow-col-dense xl:gap-x-8">
      <div class="relative pt-12 pb-64 sm:pt-24 sm:pb-64 xl:col-start-1 xl:pb-24">
        <h2 class="text-sm font-semibold tracking-wide uppercase">
          <span class="bg-gradient-to-r from-cyan-300 to-cyan-300 bg-clip-text text-transparent">Valuable Metrics</span>
        </h2>
        <p class="mt-3 text-3xl font-extrabold text-white">Understand the story being told</p>
        <p class="mt-5 text-lg text-gray-300">Gain insights into data usage. Understand the hot spots and how data is repeated. By understanding what data you have and who is using it, you can streamline processes and make more efficient systems.</p>
        <div class="mt-12 grid grid-cols-1 gap-y-12 gap-x-6 sm:grid-cols-2">
          <p>
          <span class="block text-2xl font-bold text-white">Database tables</span>
          <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Data warehouses</span> are continuing to grow. Do you catalog what data is in yours?</span>
          </p>

          <p>
          <span class="block text-2xl font-bold text-white">Data pipelines</span>
          <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Event driven systems</span> are great for distributing data, but to whom can get lost relatively easily.</span>
          </p>

          <p>
          <span class="block text-2xl font-bold text-white">Service Level Agreements</span>
          <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Internal stakeholders</span> should be thought of as customers. Service Level Agreements set expectation around delivery and volume.</span>
          </p>

          <p>
          <span class="block text-2xl font-bold text-white">Number of stakeholders</span>
          <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">How many users of data exist in your organization?</span>. What team is behind that critical service?</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- CTA Section -->
  <div class="bg-white">
    <div class="max-w-4xl mx-auto py-16 px-4 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-4xl font-extrabold tracking-tight text-teal-900 sm:text-4xl">
        <span class="block">Ready to get started?</span>
        <span class="block bg-gradient-to-r from-cyan-600 to-cyan-600 bg-clip-text text-transparent">Create an account for your organization.</span>
      </h2>
      <div class="mt-6 space-y-4 sm:space-y-0 sm:flex sm:space-x-5">
        <a href="<%= features_path %>" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-gradient-to-r from-teal-600 to-teal-600 hover:from-teal-700 hover:to-teal-800">
          Learn more
        </a>
        <a href="<%= new_user_registration_path %>" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-cyan-800 bg-cyan-50 hover:bg-cyan-100">
          Get started
        </a>
      </div>
    </div>
  </div>
</main>
