<!-- Navbar -->
<nav class="flex-shrink-0 bg-gradient-to-r from-teal-600 to-cyan-600">
  <div class="mx-auto px-2 sm:px-4 lg:px-8">
    <div class="relative flex items-center justify-between h-16">

      <!-- Logo section -->
      <div class="flex items-center px-2 lg:px-0 xl:w-64">
        <div class="flex-shrink-0">
          <% if current_user %>
          <a href="/dashboards">
          <% else %>
          <a href="/">
          <% end %>
            <span class="sr-only">Schemabook</span>
            <!-- Heroicon name: book-open -->
            <span class="flex items-center justify-center h-12 w-12 rounded-md">
              <svg class="h-8 w-8 text-indigo-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
              </svg>
            </span>
          </a>
        </div>
      </div>

      <!-- Search section -->
      <% if @search_enabled %>
        <div class="max-w-5xl flex-1 flex justify-center lg:justify-end">
          <div class="w-full px-2 lg:px-6">
            <label for="search" class="sr-only">Search schemas</label>
            <div class="relative text-indigo-200 focus-within:text-gray-400">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <!-- Heroicon name: solid/search -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
              </div>
              <input id="search" name="search" class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-indigo-200 bg-opacity-25 text-indigo-100 placeholder-indigo-200 focus:outline-none focus:bg-white focus:ring-0 focus:placeholder-gray-400 focus:text-gray-900 sm:text-sm" placeholder="Search Schemas" type="search">
            </div>
          </div>
        </div>
      <% end %>

      <div class="flex lg:hidden">
        <!-- Mobile menu button -->
        <% klass = "hidden" if (params[:controller] == "users/registrations" && params[:action] == "new") || (params[:controller] == "users/sessions" && params[:action] = "new") %>
        <button id="main-menu" type="button" class="<%= klass %> bg-white inline-flex items-center justify-center p-2 rounded-md text-indigo-400 hover:text-gray-300 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. -->
          <!--
            Heroicon name: outline/menu-alt-1

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
          <!-- Icon when menu is open. -->
          <!--
            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Links section -->
      <div class="hidden lg:block lg:w-80">
        <div class="flex items-center justify-end">
          <div class="flex">
            <a href="/documents" class="px-3 py-2 rounded-md text-sm font-medium text-indigo-100 hover:text-white">Documentation</a>
            <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-indigo-100 hover:text-white">Support</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden" id="menu">
    <div class="px-2 pt-2 pb-3">
      <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white bg-indigo-800">Dashboard</a>
      <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-200 hover:text-indigo-100 hover:bg-indigo-600">Support</a>
    </div>
    <div class="pt-4 pb-3 border-t border-indigo-800">
      <div class="px-2">
        <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-indigo-200 hover:text-indigo-100 hover:bg-indigo-600">Your Profile</a>
        <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-200 hover:text-indigo-100 hover:bg-indigo-600">Settings</a>
        <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-200 hover:text-indigo-100 hover:bg-indigo-600">Sign out</a>
      </div>
    </div>
  </div>
</nav>
